.tf-download .btn {margin-left: 10px !important;margin-bottom: 5px;outline: 0;outline-offset: 0;}
.tf-prod-markets, .tf-version, .tf-prod-affiliates, .tf-prod-links {margin-bottom: 10px !important;}
.tf-prod-markets li, .tf-version li, .tf-prod-affiliates li, .tf-prod-links li {list-style-type: none;padding-left:20px !important;margin-left:-15px;margin-top:5px;font-weight: bold;}
.tf-distr-file, .tf-prod-file {background: url(/bbp-topfile/img/download.png) no-repeat 0 2px;}
.tf-prod-link {background: url(/bbp-topfile/img/external-link.png) no-repeat 0 3px;}
.tf-prod-affiliate {font-size: 120%;background: url(/bbp-topfile/img/download2.png) no-repeat 0 3px;}
.tf-buy-product {background: url(/bbp-topfile/img/buy.png) no-repeat 0 6px !important;}
.tf-distr-addfile {background: url(/bbp-topfile/img/add.png) no-repeat 0 5px;margin-left:5px !important;}
.tf-google-play {background:url(/bbp-topfile/img/google-play.png) no-repeat 0 5px;}
.tf-microsoft-store {background:url(/bbp-topfile/img/microsoftstore.png) no-repeat 0 2px;}
.tf-app-store {background:url(/bbp-topfile/img/macappstore.png) no-repeat 0 5px;}
.tf-chrome-web-store {background:url(/bbp-topfile/img/chrome-store.png) no-repeat 0 2px;}
.tf-add-ons-for-firefox {background:url(/bbp-topfile/img/firefox-addons.png) no-repeat 0 2px;}
.tf-microsoft-edge-add-ons {background:url(/bbp-topfile/img/edge-addons.png) no-repeat 0 2px;}
.tf-opera-add-ons {background:url(/bbp-topfile/img/opera-addons.png) no-repeat 0 2px;}
.tf-maxthon-extension-center {background:url(/bbp-topfile/img/maxthon.png) no-repeat 0 5px;}
.tf-extension {color: #FFFFFF;background: #FF6A00;padding: 2px 5px 3px;margin-left: 5px;vertical-align: 1px;font-size: 70%;border-radius: 5px;}
.tf-arch {color: #FFFFFF;background: #0094FF;padding: 2px 5px;margin-left: 5px;font-size: 70%;border-radius: 5px;}
.tf-size, .tf-os {color: #A0A0A0;margin-left: 5px;font-size: 80%;}